.form-card {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;

    mat-radio-group {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .answerOptions {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .answerOption {
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
      }
    }
  }

  .create-button {
    margin-top: 2rem;
    float: right;
  }
}

mat-form-field {
  width: 100%;
}