<mat-card class="form-card">
  <form [formGroup]="form">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Question text</mat-label>
        <input autofocus formControlName="text" matInput type="text">
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" formControlName="type">
        <mat-radio-button [value]="QuestionType.SINGLE">{{ QuestionType.SINGLE }}</mat-radio-button>
        <mat-radio-button [value]="QuestionType.MULTIPLE">{{ QuestionType.MULTIPLE }}</mat-radio-button>
        <mat-radio-button [value]="QuestionType.OPEN">{{ QuestionType.OPEN }}</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="form.value.type !== QuestionType.OPEN" class="answers" formArrayName="answers">
        <div *ngFor="let answer of form.controls.answers.controls; index as i" class="answer">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ i + 1 }}-th option</mat-label>
            <input [formControlName]="i" matInput>
          </mat-form-field>
          <button (click)="removeAnswer(i)"
                  *ngIf="form.value.type === QuestionType.SINGLE && form.controls.answers.length > 1
                      || form.value.type === QuestionType.MULTIPLE && form.controls.answers.length > 2"
                  class="delete-button"
                  color="warn"
                  mat-icon-button type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button (click)="addAnswer()" color="primary" mat-raised-button type="button">
          Add a possible answer
        </button>
      </div>
      <button (click)="editQuestion()"
              [disabled]="disabled()"
              class="create-button" color="accent" mat-raised-button>
        Edit this question
      </button>
    </mat-card-content>
  </form>
</mat-card>
