<div class="cards">
  <div *ngFor="let question of questions$ | async" class="card">
    <button [routerLink]="['/edit/', question.creatingDate]" class="edit-button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <mat-card>
      <mat-card-header>{{ question.text }}</mat-card-header>
      <mat-card-footer>
        {{ question.type }} | {{ question.creatingDate | date:'medium' }}
      </mat-card-footer>
    </mat-card>

    <button (click)="removeQuestion(question)" class="delete-button" color="warn" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<button class="add-button" color="primary" mat-raised-button routerLink="/create">
  Create a new question
</button>

