.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    mat-card {
      width: 400px;
      text-align: left;

      &-footer {
        margin: 0 10px 5px 0;
        font-size: 10px;
        text-align: right;
        color: #999;
      }
    }
  }
}

.create-button {
  margin-bottom: 1rem;
}

//.delete-button {
//  position: absolute;
//  right: -50px;
//  top: auto;
//}
