<div class="cards">
  <mat-card *ngFor="let question of getQuestions() | sortBy:'asc':'creatingDate'">
    <mat-card-header>{{ question.text }}</mat-card-header>
    <mat-card-footer>
      <button aria-label="Example icon button with a heart icon" color="warn" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      {{ question.type }} | {{ question.creatingDate | date:'medium' }}
    </mat-card-footer>
  </mat-card>
</div>

<button (click)="createQuestion()" class="add-button" color="primary" mat-raised-button>
  Create a new question
</button>
