<div class="container">
  <mat-form-field class="matInput" appearance="outline">
    <mat-label>Text or link</mat-label>
    <input autofocus value="lol" matInput type="text" (input)="update()" [(ngModel)]="matInput" placeholder="example: https://google.com/">
    <button *ngIf="matInput" matSuffix mat-icon-button aria-label="Clear" (click)="matInput=''; update()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <qrcode (qrCodeURL)="onChangeURL($event)" class="qrcode" [qrdata]="matInput || 'https://google.com/'" [width]="350" [errorCorrectionLevel]="'M'"></qrcode>

  <a [href]="qrCodeDownloadLink" download="qrcode">
    <button mat-raised-button color="primary" class="matButton">Download as .png</button>
  </a>
</div>