.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  mat-toolbar {
    height: 50px;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;

      li {

        a {
          user-select: none;
          padding: 13px;
          color: #fff;
          text-decoration: none;
          transition: color .2s;

          &.active {
            color: #bbb;
          }
        }
      }
    }
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 1rem 0;
  text-align: center;
}
