<mat-card class="form-card">
  <form (ngSubmit)="createQuestion()" [formGroup]="form">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Question text</mat-label>
        <input class="text-field" formControlName="text" matInput type="text" z>
      </mat-form-field>
      <mat-radio-group formControlName="type">
        <mat-radio-button [value]="QuestionType.SINGLE">{{ QuestionType.SINGLE }}</mat-radio-button>
        <mat-radio-button [value]="QuestionType.MULTIPLE">{{ QuestionType.MULTIPLE }}</mat-radio-button>
        <mat-radio-button [value]="QuestionType.OPEN">{{ QuestionType.OPEN }}</mat-radio-button>
      </mat-radio-group>

      <div *ngIf="form.value.type !== QuestionType.OPEN" class="answerOptions" formArrayName="answerOptions">
        <div *ngFor="let answerOption of form.controls.answerOptions.controls; index as i" class="answerOption">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ i + 1 }}-th option</mat-label>
            <input [formControlName]="i" matInput>
          </mat-form-field>
          <button (click)="removeAnswer(i)"
                  *ngIf="form.value.type === QuestionType.SINGLE && form.controls.answerOptions.length > 1
                      || form.value.type === QuestionType.MULTIPLE && form.controls.answerOptions.length > 2"
                  class="delete-button"
                  color="warn"
                  mat-icon-button type="button">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <button (click)="addAnswer()" *ngIf="form.value.type" color="primary" mat-raised-button
                type="button">
          Add a possible answer
        </button>
      </div>
      <button
        [disabled]="disabled()"
        class="create-button" color="accent" mat-raised-button
        type="submit">
        Create
      </button>
    </mat-card-content>
  </form>
</mat-card>