<div class="allQuestions">
  <div class="cards">
    <div *ngFor="let question of unansweredQuestions$ | async; index as i" class="card">
      <mat-card>
        <mat-card-header>
          <div><span
            style="display: inline; color: #999; margin-right: 5px;">The question:</span>{{ question.text }}</div>
        </mat-card-header>
        <mat-card-content>
          <app-unanswered-question-card [question]="question"></app-unanswered-question-card>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="!(unansweredQuestions$ | async)?.length" class="empty">
      The list with unanswered questions is empty
    </div>
  </div>

  <div class="verticalLine"></div>

  <div class="cards">
    <div *ngFor="let question of answeredQuestions$ | async" class="card">
      <mat-card>
        <mat-card-header>
          <div>{{ question.text }}</div>
        </mat-card-header>
        <mat-card-content>
          <app-answered-question-card [question]="question"></app-answered-question-card>
        </mat-card-content>
      </mat-card>
      <button (click)="removeTheAnswerToQuestion(question)" class="delete-button" color="warn" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div *ngIf="!(answeredQuestions$ | async)?.length" class="empty">
      The list with answered questions is empty
    </div>
  </div>
</div>
