.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  .cards {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .verticalLine {
    border-left: 1px solid #bbb;
  }

}

.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.empty {
  font-size: 1.2rem;
}
