<div class="container">
  <div class="cards">
    <app-unanswered-question-card *ngFor="let question of unansweredQuestions$ | async; index as i"
                                  [question]="question"
                                  class="card"></app-unanswered-question-card>
    <div *ngIf="!(unansweredQuestions$ | async)?.length" class="empty">
      The list with unanswered questions is empty
    </div>
  </div>

  <div class="verticalLine"></div>

  <div class="cards">
    <app-answered-question-card *ngFor="let question of answeredQuestions$ | async"
                                [question]="question" class="card"></app-answered-question-card>
    <div *ngIf="!(answeredQuestions$ | async)?.length" class="empty">
      The list with answered questions is empty
    </div>
  </div>
</div>
