.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  .cards {
    width: 400px;
  }

  .verticalLine {
    border-left: 1px solid #bbb;
  }

}

.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.empty {
  font-size: 1.2rem;
}
