.allQuestions {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 10px;

  .cards {
    width: 400px;
  }

  .verticalLine {
    border-left: 1px solid #bbb;
  }

}

mat-card {
  text-align: left;
  margin-bottom: 1rem;
  align-items: center;

  &-header {
  }

  &-content {
    margin-top: 10px;
    text-align: center;
  }

  &-footer {
    width: 100%;
    padding: 1rem 10px 5px 10px;
    font-size: 10px;
    text-align: right;
    color: #999;
  }
}

.mat-radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.mat-form-field {
  transform: scale(.9);
  width: 100%;
}

.empty {
  font-size: 1.2rem;
}

.answer-button {
  margin: 1rem;
}