<mat-radio-group *ngIf="question.type === QuestionType.SINGLE"
                 class="mat-radio-group">
  <mat-radio-button
    *ngFor="let answerOption of question.answerOptions"
    [checked]="question.answer === answerOption" [value]="answerOption"
    disabled>{{ answerOption }}</mat-radio-button>
</mat-radio-group>
<section *ngIf="question.type === QuestionType.MULTIPLE">
  <mat-checkbox
    *ngFor="let answerOption of question.answerOptions; index as i"
    [checked]="question.answer![i]" disabled>{{ answerOption }}</mat-checkbox>
</section>
<div *ngIf="question.type === QuestionType.OPEN"
     style="text-align: left; margin-left: 2rem;"><span
  style="color: #999; margin-right: 5px;">The answer:</span>{{ question.answer }}</div>